<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>ec2-13-57-31-201.us-west-1.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/MlaWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MlaDatabase" Order="1" Enabled="True">
          <Destination Path="Data Source=mladatabase.c8kemcmhi13w.us-west-1.rds.amazonaws.com,1433;Initial Catalog=MlaDatabase;User ID=mla_admin;Password=12345admin" Name="" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=mladatabase.c8kemcmhi13w.us-west-1.rds.amazonaws.com,1433;Initial Catalog=MlaDatabase;User ID=mla_admin;Password=12345admin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MlaDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mladatabase.c8kemcmhi13w.us-west-1.rds.amazonaws.com,1433;Initial Catalog=MlaDatabase;User ID=mla_admin;Password=12345admin" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MlaDatabaseEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=mladatabase.c8kemcmhi13w.us-west-1.rds.amazonaws.com,1433;Initial Catalog=MlaDatabase;User ID=mla_admin;Password=12345admin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MlaWebApi.Models.MlaDatabaseEntities, MlaWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MlaDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mladatabase.c8kemcmhi13w.us-west-1.rds.amazonaws.com,1433;Initial Catalog=MlaDatabase;User ID=mla_admin;Password=12345admin"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MlaDatabase-Web.config Connection String">
      <ParameterValue>Data Source=mladatabase.c8kemcmhi13w.us-west-1.rds.amazonaws.com,1433;Initial Catalog=MlaDatabase;User ID=mla_admin;Password=12345admin</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>